{%extends 'all-apps/base.html'%} 
{% block content %}
<div class="container"style="font-family: 'Baloo Bhai', cursive">

  <div class="row"style="color:black">
    {% if username %}
      <h2>Found {{ username|length }} of searched term {{message}}</h2>
    {% else %}
      <!-- <h2> Found 0 users for the search term {{message}}</h2> -->
    {% endif %}

  </div>

  <div class="row align-items-center">

  {% if user %}
    {% for user in users %}
    <div class="thumbnail">
        <div class="card">
        <div class="card-body" >
            
     
        <p style="color:black"><strong>user's profile</strong>{{user.user.username}}</p>
        
          
        </div>
          </div>
          </div>
      
    {% endfor %}
  </div>
  {% endif %}
  </div>

{% endblock %}